<div class="row">
  <div class="col-md-12">
    <form class="añadir-lista-compra">
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre-item" class="form-control">
        </div>
        <div class="col-md-2 form-group">
          <label for="cantidad">Cantidad</label>
          <input type="text" id="cantidad-item" class="form-control">
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success">Añadir</button>
            <button class="btn btn-danger">Eliminar</button>
            <button class="btn btn-primary">Limpiar</button>
          </div>
          </div>
      </div>
    </form>
  </div>
  </div>